@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,800&display=swap');
body {
background-image: url("https://wallpapershome.com/images/pages/pic_h/288.jpg");
color: #ffe824;
justify-content: center;
overflow: hidden;
font-family: 'Fira Sans', sans-serif;
}

#container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 600px;
  width: 600px;
  border: 20px solid #252122;
  background-color: #465947;
  padding: 0 auto;
}

span{
  font-size: 8px;
}

.titleName {
font-size: 38px;
}

li {
  list-style: none;
}
