#container {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(15, 1fr);
  height: 600px;
  width: 600px;
  border: 20px solid #252122;
  background-color: #465947;
}

